Source: asterisk-prompt-de-gabi
Section: comm
Priority: extra
Maintainer: Amooma GmbH <info@amooma.de>
Build-Depends: debhelper (>= 7), sox, subversion (>= 1.4)
Standards-Version: 3.8.0
Homepage: http://www.amooma.de/asterisk/sprachbausteine/

Package: asterisk-prompt-de-gabi
Architecture: all
Recommends: asterisk (>= 1:1.4)
Enhances: asterisk
Conflicts: asterisk-prompt-de
Replaces: asterisk-prompt-de
Provides: asterisk-prompt-de
Homepage: http://www.amooma.de/asterisk/sprachbausteine/
Description: German voice prompts for the Asterisk PBX
 German voice prompts for the Asterisk PBX, courtesy of
 AMOOMA GmbH.
 .
 Voice: Gabi Becker (she's a newsreader)
 .
 Format: alaw
 .
 For more info see: http://www.amooma.de/asterisk/sprachbausteine/
